.footer{
    padding-bottom: 100px;
    padding-top: 66px;
    background-color: $gray-light-color;
    &-container{
        margin-top: 183px;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        grid-gap: 129px;
    }
    &-column{
        &-info a{
                margin-bottom: 20px;
        }
    }
    .text{
        margin-bottom: 25px;
    }
    .social-media{
        display: flex;
        align-items: center;
        gap: 0 20px;
        margin-bottom: 30px;
    }


    &-item a{
        color: $text-color;

    }
}