* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:after,
*:before {
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}